body{
  max-height:100vh ;
  background-color: bisque;
}
.header{
  height: 30px;
  margin: 0;
  border-bottom: 2px solid;
   background-color: bisque;
}
.header>ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;

}
.home{
  display: flex;
  background-color: rgb(229, 214, 243);
  
}
.homeNavbar{
  background-color: rgb(245, 213, 218);
  flex-direction: row;
  border-right: 2px solid;
  
}
.homeNavbar>ul{
  list-style-type: none;
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  margin-bottom: 20px;
}
.main{
  background-color: rgb(196, 196, 241);
  flex: 1;
  text-align: center;
  align-self: center;
}
.userHome{
  display: flex;
  background-color: rgb(229, 214, 243);
}
.userNavbar{
  background-color: rgb(245, 213, 218);
  flex-direction: row;
  border-right: 2px solid;
}
.userNavbar>ul{
  list-style-type: none;
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  margin-bottom: 20px;
}
.personelMain{
  background-color: rgb(196, 196, 241);
  flex: 1;
  text-align: center;
  align-self: center;
}
